body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fefae0;
}

header {
    background-color: #606c38;
    color: #fefae0;
    padding: 10px 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #606c38;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #283618;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    margin-top: 10px;
}
select {
    padding: 10px;
    margin-right: 10px;
}
.packed {
    text-decoration: line-through;
    color: #777;
}

.item-buttons {
    margin-left: 10px;
}

.button-remove, .button-pack {
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
}
.button-pack {
    background-color: #4CAF50;
}

.button-remove:hover, .button-pack:hover {
    opacity: 0.8;
}
.category-clothing {
    background-color: #dda15e; 
}

.category-toiletries {
    background-color: #bc6c25; 
}

.category-electronics {
    background-color: #a3b18a; 
}

.category-others {
    background-color: #588157; 
}

li {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}